@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --background-layout: 68, 68, 68;
  --background-layout-red: 202, 202, 217;
  --background-layout-display: 0, 0, 0;
  --background-layout-logo: 0, 163, 217;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.kdex__layout {
  background: rgb(var(--background-layout));
  padding: 20px;
  width: 1000px;
  height: 640px;
  border-radius: 20px;
  display: flex;
}

.kdex__layout-left {
  background: rgb(var(--background-layout-red));
  border-radius: 20px 0px 0px 20px;
  width: 100px;
  height: 100%;
}

.kdex__layout-top {
  background: rgb(var(--background-layout-red));
  border-radius: 0px 20px 0px 0px;
  width: 700px;
  height: 72px;
  transform-origin: right;
  transform: scaleX(1);
}

.kdex__layout-between-1 {
  background: rgb(var(--background-layout-red));
  border-radius: 0px;
  width: 100px;
  height: 170px;
}

.kdex__layout-between-2 {
  position: absolute;
  background: rgb(var(--background-layout-red));
  border-radius: 0px;
  width: 150px;
  height: 100px;
  margin-top: 115px;
  margin-left: -66px;
  rotate: -30deg;
}

.kdex__layout-display {
  position: fixed;
  background: rgb(var(--background-layout-display));
  border-radius: 8px;
  width: 750px;
  height: 520px;
  margin-top: 80px;
  margin-left: 210px;
}

.kdex__layout-main-buttons {
  display: flex;
  flex-direction: column;
  margin-left: -15px;
  margin-top: 295px;
}

.kdex__layout-round-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-left: 30px;
}

.kdex__layout-logo {
  position: fixed;
  z-index: 10;
  width: 180px;
  height: 180px;
  background: rgb(var(--background-layout-logo));
  border-radius: 50%;
  margin-top: 10px;
  margin-left: -90px;
}

.kdex__layout-controls {
  display: flex;
  position: fixed;
  z-index: 10;
  margin-left: 795px;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 72px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
